/* Background Color */
body{background-color: rgb(233, 214, 217); 
}
h1 {
  border: 3px solid white;
  color : rgb(236, 57, 192);
}
/* paragraph color, font size, and font style */
p{
  color : gray;
  font-size: 110%;
  font-family: "Lucida Console", Courier, monospace;
  
}

/* Heading size 4 color */
h4 {
  color : rgb(180, 83, 245);
}
/*  Heading size 4 color */
h3{
  color : gray;
}
